<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<div class="card-body">
        <textarea cols="80" rows="5" id="question"></textarea><br>
        <button type="button" id="btn_chatbot_request">챗봇요청</button>
      </div>
      <div id="result"></div>
      
      <script>

        $(document).ready(function() {
          // id="btn_chatbot_request"
          $("#btn_chatbot_request").on("click", function() {
            $.ajax({
              url: '/chatapi/chat?question=' + $("#question").val(),
              type: 'get',
              dataType : 'text',
              success: function(response) {
                $("#result").html(response);
              }
            });
          });

        });  // ready end evnet
    </script>
</body>
</html>