<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/ad_layout}">

	<th:block layout:fragment="script1">
	
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
	
	</th:block>
	
	
	<th:block layout:fragment="content">
		<div class="container mt-5">
		<div class="row">
			<div class="col">
				<div class="card card-primary">
					<div class="card-header">
					  <h3 class="card-title">주문 목록</h3>
					</div>
					<!-- /.card-header -->
					<!-- list start -->
					<div class="card-body">
						<!-- search form start -->
				<form id="searchForm" action="/admin/review/review_list" method="get">
					 <div class="row">
					 	<div class="col-1">검색어</div>	
						<div class="col-2">												
							<select name="searchType" class="form-control">
								<option value="" th:selected="${''} == ${pageMaker.cri.searchType}" >전체</option>
								<option value="n" th:selected="${'n'} == ${pageMaker.cri.searchType}">상품명</option>
								<option value="c" th:selected="${'c'} == ${pageMaker.cri.searchType}">상품코드</option>
								<option value="i"th:selected="${'i'} == ${pageMaker.cri.searchType}">작성자ID</option>							
							</select>								
						</div>					
						<div class="col-3">
							<input type="text" name="keyword" class="form-control" th:value="${pageMaker.cri.keyword}"  placeholder="검색어를 입력하세요.">
						</div>
						<div class="col-1">평점/내용</div>
						<div class="col-2">
							<select class="form-control" name="rev_rate">
								<option value="" th:selected="${rev_rate == ''}">전체평점</option>
								<option value="5" th:selected="${rev_rate == '5'}">5점</option>
								<option value="4" th:selected="${rev_rate == '4'}">4점</option>
								<option value="3" th:selected="${rev_rate == '3'}">3점</option>
								<option value="2" th:selected="${rev_rate == '2'}">2점</option>
								<option value="1" th:selected="${rev_rate == '1'}">1점</option>
							</select>
						</div>
						<div class="col-3">
							<input type="text" name="rev_content" class="form-control" th:value="${rev_content}" placeholder="작성내용..">
						</div>
					 </div>											
				
				
				<div class="row mt-3">
					<div class="col text-center">
						<button type="submit" class="btn btn-primary">검색</button>
						<button type="button" class="btn btn-outline-primary" id="btn_search_init">초기화</button>
					</div>
				</div>
			</form>	
				<div class="row mt-4">
					<div class="col">
					 <form name="" id="" method="post" action="">
						<table class="table table-bordered">
						  <thead>
							<tr>
							  <th style="width: 10%;">번호</th>
							  <th style="width: 10%;">답변</th>
							  <th style="width: 20%;">상품정보</th>
							  <th style="width: 30%">평점 / 내용</th>
							  <th style="width: 10%">작성자</th>
							  <th style="width: 10%">작성일</th>
							  <th style="width: 10%">관리</th>
							</tr>
						  </thead>
						  <tbody>
							<tr th:each="reviewDTO : ${review_list}">
								<td>
									[[${reviewDTO.rev_code}]]
								</td>
								<td>
									<div class="alert alert-success" th:if="${#lists.size(reviewDTO.replies) > 0}">
										답변완료
									</div>
									<div class="alert alert-danger" th:unless="${#lists.size(reviewDTO.replies) > 0}">
										답변대기
									</div>
								</td>
								<td>
									<img style="width: 100px; height: 100px;" th:src="|/admin/review/image_display?dateFolderName=${reviewDTO.product.item_up_folder}&fileName=s_${reviewDTO.product.item_img}|">
									[[${reviewDTO.item_num}]] <br>
									[[${reviewDTO.product.item_name}]]
								</td>
								<td>
									<span class="star" style="color: red;font-size: large;">[[${reviewDTO.rev_rate}]]</span><br>
									[[${reviewDTO.rev_content}]]
									<div class="review_reply_info" th:each="review_reply_dto : ${reviewDTO.replies}" style="border: 1px; border-style: dashed; border-radius: 10px; border-color: red ; padding: 10px;margin-top: 20px;">
										<div class="row">
											<div class="col">관리자</div>
											<div class="col">
												<span th:text="${#temporals.format(review_reply_dto.reply_date, 'yyyy-MM-dd HH:mm:ss')}"></span>
											</div>
																
										</div>
										<div class="row">
											<div class="col">
												<span class="reply_text_info" th:text="${review_reply_dto.reply_text}"></span>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<button type="button" class="btn btn-outline-success" name="btn_reply_edit" th:data-reply_id="${review_reply_dto.reply_id}" th:data-rev_code="${reviewDTO.rev_code}">답변수정</button>
												<button type="button" class="btn btn-outline-danger" name="btn_reply_del" th:data-reply_id="${review_reply_dto.reply_id}">답변삭제</button>
											</div> 
										</div>
									</div>	
								</td>
								<td>
									[[${reviewDTO.mb_id}]]
								</td>
								<td>
									[[${#temporals.format(reviewDTO.rev_date, 'yyyy-MM-dd HH:mm:ss')}]]
								</td>
								<td>
									<button type="button" name="btn_review_reply" class="btn btn-outline-primary" th:data-rev_code="${reviewDTO.rev_code}">답변하기</button>
								</td>
							</tr>
							
						  </tbody>
						</table>
					</form>
					<!-- 주문목록의 모든 검색정보 : 페이지번호 클릭할 때, 현재 목록상태를 작업(수정,삭제)을 하고 돌아왔을 때 유지. -->
					<form id="criteriaForm" action="/admin/order/order_list" method="get">
						

						
					</form>
				</div>
				</div>	 
			</div>

					<!-- 페이징출력위치 -->
				 </div>
			</div>
		</div>
	  </div>
	  <!--모달 답변한기 -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <!-- 헤더 -->
      <div class="modal-header">
        <h5 class="modal-title" id="reviewModalLabel">상품 리뷰 상세보기 <span id="review_reviewcode"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- 바디 -->
      <div class="modal-body">
        <div class="row">
          <!-- 상품 이미지 -->
          <div class="col-md-4 text-center">
			<img alt="상품이마지" style="width: 100px; height: 100px;" id="review_product_img">
          </div>

          <!-- 상품 정보 및 리뷰 -->
          <div class="col-md-8">
            <!-- 상품명 -->
            <h6 class="fw-bold mb-2">상품명: <span id="product-name">샘플 상품명</span></h6>

            <!-- 평점 -->
            <div class="mb-3">
              <span class="fw-bold">평점:</span>
			  
              <div id="product_rating" class="text-warning fs-5">
				<span class="star2" style="color: red;font-size: large;"></span>
				(<span id="review_rev_rate"></span>/5)
			 </div>
              
            </div>

            <!-- 리뷰 내용 -->
            <div class="mb-3">
              <label class="fw-bold d-block">리뷰 내용</label>
              <p id="review-content" class="border rounded p-2 bg-light">
                상품이 정말 마음에 듭니다. 배송도 빠르고 품질도 좋아요!
              </p>
            </div>
          </div>
        </div>

        <hr>

        <!-- 관리자 답변 -->
        <div class="mb-3">
          <label for="adminReply" class="fw-bold">관리자 답변</label>
          <textarea id="admin_reply" class="form-control" rows="3" placeholder="관리자 답변을 입력하세요."></textarea>
        </div>
      </div>

      <!-- 푸터 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-primary" id="btn_review_reply">답변 등록</button>
		<button type="button" class="btn btn-primary" id="btn_review_reply_edit" style="display:none;">답변 수정</button>
      </div>

    </div>
  </div>
</div>
	<script>
			const myModal = new bootstrap.Modal('#reviewModal',{
				keyboard:false
			});
			$(document).ready(function(){
				//상품후기 답변하기 버튼 클릭이벤트 설정 name="btn_review_reply"
				$("button[name='btn_review_reply']").on("click",function(){
					$("button#btn_review_reply_edit").hide();
					$("button#btn_review_reply").show();
					let rev_code = $(this).data("rev_code");
					$.ajax({
						url:'/admin/review/review_info/'+rev_code,
						type: 'get',
						dataType: 'json',
						success:function(result){
							console.log("상품후기정보",result);
									// 이전상태 초기화
							$("#review_product_img").attr("src", "");
							$("#product-name").html("");
							$("#review-content").html("");
							$("#review_reviewcode").html("");
							$("div#product-rating span").html("");
							$("#review_rev_rate").html("");
							$("#admin_reply").html("");

							let url = `/admin/review/image_display?dateFolderName=${result.item_up_folder}&fileName=s_${result.item_img}`;
							$("#review_product_img").attr("src",url);
							$("#product-name").html(result.item_name);
							$("#review-content").html(result.rev_content);
							$("#review_reviewcode").html(result.rev_code);
							$("#product_rating span").html(result.rev_rate);
							$("#review_rev_rate").html(result.rev_rate);
							$("button#btn_review_reply").attr("data-rev_code",result.rev_code);
							displayStar2();
						
						},
						error:function(){

						}
					});
					myModal.show();
				});
				//id="btn_review_reply"
				$("button#btn_review_reply").on("click",function(){
					let rev_code = $(this).data("rev_code");
					let admin_reply = $("#admin_reply").val();
					$.ajax({
							url:'/admin/review/reply_insert',
							type: 'post',
							headers: {
								"Content-Type" : "application/json"},
							data:JSON.stringify({rev_code:rev_code,reply_text:admin_reply}) ,
							dataType: 'text',
							success:function(result){
								if(result == "success"){
									alert("답변달기 등록됨");
									location.href = "/admin/review/review_list";
								}
							},
							error:function(){

							}
					});			
				});

				//답변수정 	
				$("button[name='btn_reply_edit']").on("click",function(){
					// 상품후기내용 불러오기.
					let rev_code = $(this).data("rev_code"); // 상품후기 pk
					let reply_id = $(this).data("reply_id"); // 상품후기 답변 pk
					$("button#btn_review_reply_edit").attr("data-reply_id", reply_id);
					$.ajax({
						url: '/admin/review/review_info/' + rev_code,
						type: 'get',
						dataType: 'json',
						success: function(result) {
							console.log("상품후기정보", result);

							let url = `/admin/review/image_display?dateFolderName=${result.item_up_folder}&fileName=s_${result.item_img}`;
							$("#review_product_img").attr("src", url);

							// id="product-name"
							$("#product-name").html(result.item_name);

							// id="review-content"
							$("#review-content").html(result.rev_content);

							// id="review_reviewcode"
							$("#review_reviewcode").html(result.rev_code);
							
							// id="product-rating"
							$("div#product_rating span").html(result.rev_rate);

							// id="review_rev_rate"
							$("#review_rev_rate").html(result.rev_rate);

							// 답변 버튼에 상품후기코드를 data-rev_code="상품후기코드"
							$("button#btn_review_reply").attr("data-rev_code", result.rev_code);
							

							displayStar2();   // 숫자를 별평점으로 변환.



						},
						error : function() {

						}
					});
					$("button#btn_review_reply_edit").show();
					$("button#btn_review_reply").hide();

					let reply_txt = $(this).closest("div.review_reply_info").find("span.reply_text_info").html();
					$("#admin_reply").html(reply_txt);
					myModal.show();
				});
						// 답변수정하기.   id="btn_review_reply_edit"
				$("button#btn_review_reply_edit").on("click", function() {

					let reply_id = $(this).data("reply_id");
					let admin_reply = $("#admin_reply").val(); // 관리자 답변내용

					//console.log("관리자답변", admin_reply);

					//return;

					$.ajax({
						url: '/admin/review/reply_modify',
						type: 'post',
						data: {reply_id : reply_id, reply_text : admin_reply},
						dataType : 'text',
						success : function(result) {
							if(result == "success") {
								alert("답변글이 수정됨");
								location.href = "/admin/review/review_list";
							}
						},
						error : function() {

						}

					});
				});
				//답글삭제 
				$("button[name='btn_reply_del']").on("click",function(){
					let reply_id = $(this).data("reply_id");
					if(!confirm(reply_id + " 번 답변글을 삭제하시겠습니까?")) return;

						$.ajax({
							url: '/admin/review/reply_delete/' + reply_id,
							type: 'delete',
							headers: {
									"Content-Type" : "application/json", "X-HTTP-Method-Override" : "DELETE"
								},
							dataType: 'text',
							success : function(result) {
								if(result == "success") {
									alert("답변글이 삭제됨");
									location.href = "/admin/review/review_list";
								}

							},
							error : function(xhr, status, error) {
								console.error(error);
								alert("에러가 발생됨");
							}
						});
				});
			});


	</script>
	
	
	</th:block>
	
	
	<th:block layout:fragment="script2">

		<script>
			displayStar();

			// 평점을 별로 출력하는 함수.
			function displayStar() {
				const spanStars = document.querySelectorAll("span.star");

				const totalStars = 5;

				spanStars.forEach( span => {
					const rev_rate = parseInt(span.textContent, 10); // 평점을 정수형으로 변환
					if(!isNaN(rev_rate) && rev_rate > 0 && rev_rate <= totalStars) {
						span.textContent = "★".repeat(rev_rate) + "☆".repeat(totalStars - rev_rate);
					}else {
						span.textContent = "Invalid number";
					}
				});
			}
			// 답변 평점을 별로 출력하는 함수.
			function displayStar2() {
				const spanStars = document.querySelectorAll("span.star2");

				const totalStars = 5;

				spanStars.forEach( span => {
					const rev_rate = parseInt(span.textContent, 10); // 평점을 정수형으로 변환
					if(!isNaN(rev_rate) && rev_rate > 0 && rev_rate <= totalStars) {
						span.textContent = "★".repeat(rev_rate) + "☆".repeat(totalStars - rev_rate);
					}else {
						span.textContent = "Invalid number";
					}
				});
			}
		</script>
	
	</th:block>

</html>

