<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.basic.admin.login.AdminLoginMapper">
<select id="admin_ok" resultType="com.kd.basic.admin.login.AdminLoginDTO">
	select 
		ad_id,ad_pw
	 	from admin 
		where ad_id=#{ad_id}
</select>


</mapper>