<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.basic.admin.category.AdCategoryMapper">
 <select id="getFirstCategoryList" resultType="com.kd.basic.common.dto.CategoryDTO">
 select 
	cate_code, 
	cate_prtcode,
	cate_name,
	cate_order
 from 
 	category
 where 
 	cate_prtcode is null
 </select>
 <select id="getSecondCategoryList" resultType="com.kd.basic.common.dto.CategoryDTO" parameterType="Integer">
 select 
	cate_code, 
	cate_prtcode,
	cate_name,
	cate_order
 from 
 	category
 where 
 	cate_prtcode = #{firstCategoryCode}
 </select>
 <select id="getFirstCategoryBySecondCategory" resultType="com.kd.basic.common.dto.CategoryDTO"  parameterType="Integer">
 
 	select 
 		cate_code, cate_prtcode, cate_name 
 	from 
 		category
	where 
		cate_code  = #{secondCategory}
 
 </select>
  	<update id="categorySort" parameterType="map">
		
		update
			category
		set
			cate_order = #{order}
		where
			cate_code = #{cate_code}
	
	
	</update>
	
	
	<insert id="insertFirstCategory" parameterType="String">
	    INSERT INTO category (cate_prtcode, cate_name, cate_order)
	    VALUES (null, #{cate_name}, 1)
    </insert>
    
    <update id="editFirstCategory" parameterType="com.kd.basic.common.dto.CategoryDTO">
    
    	update
    		category
    	set
    		cate_name = #{cate_name}
    	where
			cate_code = #{cate_code}
    
    </update>
    
    <insert id="addSecondCategory" parameterType="com.kd.basic.common.dto.CategoryDTO">
    
    	insert into category (cate_prtcode, cate_name, cate_order)
    	values (#{cate_prtcode}, #{cate_name}, 1)
    
    </insert>
    
    <update id="editSecondCategory" parameterType="com.kd.basic.common.dto.CategoryDTO">
    	
    	update 
    		category
    	set
    		cate_name = #{cate_name},
    		cate_prtcode = #{cate_prtcode}
    	where
			cate_code = #{cate_code}
    </update>
    
    <delete id="deleteCategory" parameterType="Integer">
    	delete from
    		category
    	where
    		cate_code = #{cate_code}	
    </delete>
</mapper>