<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.basic.admin.category.AdCategoryMapper">
 <select id="getFirstCategoryList" resultType="com.kd.basic.common.dto.CategoryDTO">
 select 
	cate_code, 
	cate_prtcode,
	cate_name
 from 
 	category
 where 
 	cate_prtcode is null
 </select>
 <select id="getSecondCategoryList" resultType="com.kd.basic.common.dto.CategoryDTO" parameterType="Integer">
 select 
	cate_code, 
	cate_prtcode,
	cate_name
 from 
 	category
 where 
 	cate_prtcode = #{firstCategoryCode}
 </select>
</mapper>