<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.basic.admin.delivery.AdminDeliveryMapper">
	<update id="delivery_info_edit" parameterType="com.kd.basic.common.dto.DeliveryDTO">
	 	update delivery_list set 
 			 ship_addr=#{ship_addr},
 			 ship_deaddr=#{ship_deaddr},
 			 ship_zipcode=#{ship_zipcode}
  		where or_code=#{or_code}
	</update>


</mapper>