<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.basic.admin.review.AdminReviewMapper">

	<select id="review_list">
	
		select 
			rlt.mb_id, rlt.pro_num, rlt.rev_code, rlt.rev_content, rlt.rev_date, rlt.rev_rate,
			ilt.item_name, ilt.item_up_folder, ilt.item_img,
			rrt.reply_id, rrt.manager_id, rrt.reply_text , rrt.reply_date   
		from 
			review_list rlt 
		left outer join 
			item_list ilt
		on 
			rlt.pro_num = ilt.item_num
		left outer join 
			review_response rrt
		on 
			rlt.rev_code = rrt.rev_code
			
		<include refid="search"></include>
		<include refid="rev_rate"></include>
		<include refid="rev_content"></include>	
	
	</select>

	
	<select id="review_count" resultType="int" parameterType="map">
	
		select 
			count(*)
		from 
			review_list rlt
		left outer join 
			item_list ilt
		on 
			rlt.pro_num = ilt.item_num
		where
			rlt.rev_code > 0	
	
		<include refid="search"></include>
		<include refid="rev_rate"></include>
		<include refid="rev_content"></include>
		
	</select>


	<sql id="search">
		<if test="cri.searchType != null and cri.searchType.equals('')">
			<if test="cri.searchType == 'n'.toString()">
				and ilt.item_name like concat('%', #{cri.keyword}, '%')
			</if>
			<if test="cri.searchType == 'c'.toString()">
				and ilt.item_num = #{cri.keyword}
			</if>
			<if test="cri.searchType == 'i'.toString()">
				and rlt.mb_id = #{cri.keyword}
			</if>
		</if>
	</sql>


	<sql id="rev_rate">
		<if test="rev_rate != null and !rev_rate.equals('')">
			and rlt.rev_rate = #{rev_rate}
		</if>
	</sql>


	<sql id="rev_content">
		<if test="rev_content != null and !rev_content.equals('')">
			and rlt.rev_content like concat('%', #{rev_content}, '%')
		</if>		
	</sql>



</mapper>