<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.basic.admin.payment.AdminPaymentMapper">
	<update id="payment_status_change" parameterType="map">
		update
			pay_list
		set 
			pay_status = #{pay_status}
		where 
			or_code=#{or_code}
	</update>
	
	<select id="payment_info" resultType="com.kd.basic.common.dto.PaymentDTO" parameterType="Integer"> 
		select 
			pay_id,or_code,pay_method,pay_price,pay_status,pay_date 
		from 
			pay_list 
		where or_code=#{or_code}
	</select>
	
	<update id="payment_price_change" parameterType="map">
		update pay_list 
		set pay_price= pay_price - #{unitprice}
		where or_code=#{or_code}
	</update>
</mapper>