<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.basic.order.DeliveryMapper">
<insert id="delivery_insert" parameterType="com.kd.basic.common.dto.DeliveryDTO">
		insert into delivery_list
		(
			or_code,
			ship_zipcode,
			ship_addr,
			ship_deaddr
		)values(
			#{or_code},
			#{ship_zipcode},
			#{ship_addr},
			#{ship_deaddr}
		)
	</insert>
</mapper>