<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.basic.member.MemberMapper">

	<insert id="join" parameterType="com.kd.basic.common.dto.MemberDTO">
		insert into 
			mb_list(mb_id,mb_name,mb_email,mb_pw,mb_zipcode, mb_addr, mb_deaddr,mb_phone,mb_nick,mb_receive)
		values
			(#{mb_id},#{mb_name},#{mb_email},#{mb_pw},#{mb_zipcode},#{mb_addr},#{mb_deaddr},#{mb_phone},#{mb_nick},#{mb_receive})
	</insert>
	
	<select id="idCheck"  resultType="String" parameterType="String">
		select mb_id from mb_list
		where mb_id=#{mb_id}
	</select>
	
	<select id="login" resultType="com.kd.basic.common.dto.MemberDTO" parameterType="String">
		select 
			mb_id,
			mb_name,
			mb_email,
			mb_pw,
			mb_zipcode,
			mb_addr, 
			mb_deaddr,
			mb_phone,
			mb_nick
	 	from mb_list
		where mb_id=#{mb_id}
	</select>
	
		<select id="modify" resultType="com.kd.basic.common.dto.MemberDTO" parameterType="String">
		select 
			mb_id,
			mb_name,
			mb_email,
			mb_pw,
			mb_zipcode,
			mb_addr, 
			mb_deaddr,
			mb_phone,
			mb_nick,
			mb_datesub,
			mb_updatedate
	 	from mb_list 
		where mb_id=#{mb_id}
	</select>
	
	<update id="modify_save" parameterType="com.kd.basic.common.dto.MemberDTO">
		update mb_list set 
			mb_email = #{mb_email}, mb_zipcode = #{mb_zipcode}, mb_addr = #{mb_addr}, mb_deaddr = #{mb_deaddr}, 
			mb_phone = #{mb_phone}, mb_nick = #{mb_nick}, mb_updatedate = now()
		where mb_id=#{mb_id}
	</update>
	
	<select id="mypage" resultType="com.kd.basic.common.dto.MemberDTO" parameterType="String">
	
		select 
			mb_id, 
			mb_name, 
			mb_email, 
			mb_pw, 
			mb_zipcode, 
			mb_addr, 
			mb_deaddr, 
			mb_phone, 
			mb_nick, 
			mb_receive, 
			mb_point, 
			mb_lastlogin, 
			mb_datesub, 
			mb_updatedate
		from 
			mb_list
		where 
			mb_id = #{mb_id}
	
	</select>
	
</mapper>