<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kd.basic.order.OrderMapper">
	<insert id="order_insert" parameterType="com.kd.basic.common.dto.OrderDTO" useGeneratedKeys="true" keyProperty="or_code"> 
		insert into order_list 
		(
			mb_id,
			or_name,
			or_addr_zipcode,
			or_addr_basic,
			or_addr_detail,
			or_tel,
			or_mail,
			or_price
		)values(
			#{mb_id},
			#{or_name},
			#{or_addr_zipcode},
			#{or_addr_basic},
			#{or_addr_detail},
			#{or_tel},
			#{or_mail},
			#{or_price}
		)
	
	</insert>
	<insert id="order_detail_insert" parameterType="map"  >
		  insert into order_details(or_code, item_num, dt_amount, dt_price)
		  select 
		  	#{or_code},c.item_num,c.cart_amount,p.item_price    
		  from 
		  	cart c inner join item_list p 
		  on 
		  	c.item_num = p.item_num
		  where 
		  	mb_id=#{mb_id}
	</insert>
		<select id="getOrderByOr_code" resultType="map" parameterType="Integer">
		select 
			ot.or_code, p.item_name, p.item_up_folder, p.item_img, ot.dt_amount, ot.dt_price, pt.pay_status 
		from 
			order_details ot
		inner join item_list p 
		 	on ot.item_num=p.item_num
		inner join pay_list pt 
			on ot.or_code = pt.or_code
		where 
			ot.or_code=#{or_code}
	</select>
	
	<!-- 사용자별 주문 목록 조회 -->
<select id="getOrderListByMemberId" resultType="com.kd.basic.common.dto.OrderDTO" parameterType="String">
    select 
        or_code,
        mb_id,
        or_name,
        or_addr_zipcode,
        or_addr_basic,
        or_addr_detail,
        or_tel,
        or_mail,
        or_price,
        or_status,
        or_regdate,
        or_message
    from 
        order_list
    where 
        mb_id = #{mb_id}
    order by 
        or_regdate desc
</select>

<!-- 주문 상세 정보 조회 -->
<select id="getOrderDetailsByOrCode" resultType="map" parameterType="Integer">
    select 
        od.or_code,
        od.item_num,
        od.dt_amount,
        od.dt_price,
        p.item_name,
        p.item_up_folder,
        p.item_img,
        (od.dt_amount * od.dt_price) as dt_total_price
    from 
        order_details od
    inner join 
        item_list p on od.item_num = p.item_num
    where 
        od.or_code = #{or_code}
</select>

<select id="findOrderById" resultType="com.kd.basic.common.dto.OrderDTO">

	select
		*
	from 
		order_list
	where 
        od.or_code = #{or_code}

</select>

</mapper>